@font-face {
   font-family: 'DejaVuSans-Bold';
   src: url('/dynamic_reports/static/fonts/DejaVuSans.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
   }


 .customfont{
    font-family: 'DejaVuSans-Bold';
 }